
<!DOCTYPE html>
<html>
  <head>
    <title>Chat room</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        .input-div { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        #div-typing { padding:10px; }
        .input-div input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        .input-div button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        .message-div { height: 650px; overflow: auto; }
    </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" ></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  
  </head>
  <body onload="userPrompt()">
    <div id="message-div" class="message-div"><ul id="messages"></ul></div>
    <div id="div-typing"><span id="spnTyping"></span></div>
    <div class="input-div">        
        <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()"  placeholder="type your message here..." />
        <button onclick="sendMessage(event)">Send</button>
    </div>
    <script>
            var socket = io.connect('http://localhost:8080');  
            var currentUser = "";         
            function userPrompt() {
                var username = prompt('Please tell me your name');
                currentUser = username;
                socket.emit('username', username);
            }
            function sendMessage(e) {                
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            }
            function isTyping() {               
                socket.emit('typing', currentUser);                
                return false;
            }            
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
                    var scroll = document.getElementById('message-div');
                    scroll.scrollTop = scroll.scrollHeight;
                    scroll.animate({scrollTop: scroll.scrollHeight});
            });            
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            socket.on('typing', function(username){
                $('#spnTyping').html('');
                console.log(currentUser)
                console.log(username)
                if(currentUser != username) {                
                    $('#spnTyping').html(username + ' typing');
                    setTimeout(function(){
                        $('#spnTyping').html('');
                    },1000)
                }
            });
    </script>
  </body>
</html>

